<%= form_with(model: video, local: true) do |form| %>
    <% if video.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p>
          <%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:
        </p>
        <ul>
          <% video.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="field mt-5">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field mt-3">
    <%= form.label :video %>
    <%= form.file_field :video %>
  </div>

  <div class="field mt-3">
    <%= form.label :thumbnail %>
    <%= form.file_field :thumbnail %>
  </div>

  <div class="field mt-3">
    <%= form.label :category %>
    <%= form.select :category, Video.categories.keys.to_a %>
  </div>

  <%= form.submit class: 'btn btn-primary mt-3' %>
<% end %>
