<div class="container my-5">
  <div class="d-flex justify-content-end">
    <%= link_to 'Upload', videos_new_path, class: 'btn btn-primary' %>
  </div>

  <div class="row mt-4">
    <% @videos.each do |video| %>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <div class="shadow">
          <div title="<%= video.title %>" class="card">
            <video
              id="my-video"
              class="video-js card-m mt-3"
              controls
              preload="auto"
              width="256"
              height="256"
              poster="<%= video.thumbnail.attached? ? url_for(video.thumbnail) : url_for(video.video.preview(resize: "256x256")) %>"
              data-setup=""
            >
              <source src="<%= url_for(video.video) %>" type="video/mp4" />
              <source src="<%= url_for(video.video) %>" type="video/mov" />
            </video>
            <div class="card-body">
              <h5 class="card-title"> <i class="fa-solid fa-video"></i> Title: <%= video.title %></h5>
              <p class="card-text">Category: <%= video.category %></p>
            </div>
          </div>
        </div>	
      </div>
    <% end %>
  </div>
</div>
